.profile hr {
  border: 1px solid var(--dark-gray-clr);
  margin: 16px 0;
}
.profileFeedContainer {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
}
.profileFeed {
  background-color: var(--gray-clr);
  padding: 16px 0;
}
.profileFeedContainer {
  display: flex;
  gap: 16px;
}
.profileFeedLeft {
  flex: 5;
}
.profileFeedLeftIntroTop > h3 {
  margin: 0;
  font-size: var(--fs-500);
}
.profileFeedRight {
  flex: 7;
}
.profileFeedRightHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profileFeedRightHeaderContainer h3 {
  margin: 0;
}
.profileFeedRightPosts {
  position: sticky;
  top: 0;
  overflow-y: scroll;
  height: calc(100vh - 74px);
}
.profileFeedRightPosts::-webkit-scrollbar {
  display: none;
}