.profilePhotosBottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 4px;
  align-items: stretch;
  border-radius: 8px;
  overflow: hidden;
}

.profilePhotosPhoto {
    max-height: 148.3px;
}

.profilePhotosPhoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
